<h1 style="text-align: center;"> TC3006C: Inteligencia artificial avanzada para la ciencia de datos I</h1>
<p></p>
<div style="text-align: center;"> <em>Significance test for the coefficients</em> </div>

___

Here, we are following chapter 3 of *Introduction to Time Series Analysis and Forecasting*, by Douglas C. Montgomery, Cheryl L. Jennings, and Murat Kulahci

___

### 3.1 &nbsp;&nbsp; Introduction

The **multilinear regression model** is $$y = \beta_0 + \beta_1 x_1 + \beta_2 x_2 + \ldots + \beta_k x_k + \varepsilon.$$ We typically assume that $\varepsilon \sim N(0,\sigma^2)$, where the variance $\sigma^2$ is constant. This means that $\varepsilon$ does not depend on any of the predictor variables. The previous model is linear because it is linear in the unknown parameters $\beta_j$, and not because they necessarily describe linear relationships between the response and the regressors. The unknown parameters $\beta_j$ in a linear regression model are typically estimated using the method of least squares.
___

### 3.2 &nbsp;&nbsp; Least Squares Estimation in Linear Regression Models

Suppose that the regression model is used with cross-sectional data:
- there are $n>k$ observations, and
- the error term $\varepsilon$ has expected value $E[\varepsilon]=0$ and variance $\mathrm{Var}(\varepsilon) = \sigma^2$, and that the errors $\varepsilon_i$, $i=1,2,\ldots,n$ are uncorrelated.

First of all, note that the multiple linear regression model may be written in matrix notation $$y = X\beta + \varepsilon,$$ where $$ y = \begin{bmatrix} y_1 \\ y_2 \\ \vdots \\ y_n \end{bmatrix}, \quad X = \begin{bmatrix} 1 & x_{11} & x_{12} & \ldots & x_{1k} \\ 1 & x_{21} & x_{22} & \ldots & x_{2k} \\ \vdots & \vdots & \vdots & \ldots & \vdots \\ 1 & x_{n1} & x_{n2} & \ldots & x_{nk} \end{bmatrix}, \quad \beta = \begin{bmatrix} \beta_1 \\ \beta_2 \\ \vdots \\ \beta_n \end{bmatrix}, \quad \varepsilon = \begin{bmatrix} \varepsilon_1 \\ \varepsilon_2 \\ \vdots \\ \varepsilon_n \end{bmatrix}.$$

Secondly, the vector of least squares estimators minimizes $$L = \sum_{i=1}^{n} \varepsilon_i = \varepsilon^{\mathrm{t}}\varepsilon = (y-X\beta)^{\mathrm{t}}(y-X\beta) = y^{\mathrm{t}}y - 2\beta^{\mathrm{t}}X^{\mathrm{t}}y + \beta^{\mathrm{t}}X^{\mathrm{t}}X\beta,$$ where we have used the identity $(\beta^{\mathrm{t}}X^{\mathrm{t}}y)^{\mathrm{t}} = y^{\mathrm{t}}X\beta$, which is true since $\beta^{\mathrm{t}}X^{\mathrm{t}}y$ is a $1\times{}1$ matrix.

Finally, from $(\partial{}L/\partial{}\beta)|_{\hat{\beta}} = 0$, we obtain the so called **normal equations** $$(X^{\mathrm{t}}X)\hat{\beta} = X^{\mathrm{t}}y,$$ where $X^{\mathrm{t}}X$ is a $p\times{}p$ symmetric matrix and $X^{\mathrm{t}}y$ is a $p\times{}1$ column vector. Assuming that $(X^{\mathrm{t}}X)^{-1}$ exists, then we have $$\hat{\beta} = (X^{\mathrm{t}}X)^{-1}X^{\mathrm{t}}y.$$

The least square estimator $\hat{\beta}$ has nice properties
- $E[\hat{\beta}] = \beta$
- $\mathrm{Var}(\hat{\beta}) = \sigma^2(X^{\mathrm{t}}X)^{-1}$

**Example**

In [18]:
import numpy as np
import pandas as pd

data = [[1,55,50,68],[2,46,24,77],[3,30,46,96],[4,35,48,80],[5,59,58,43],
        [6,61,60,44],[7,74,65,26],[8,38,42,88],[9,27,42,75],[10,51,50,57],
        [11,53,38,56],[12,41,30,88],[13,37,31,88],[14,24,34,102],[15,42,30,88],
        [16,50,48,70],[17,58,61,52],[18,60,71,43],[19,62,62,46],[20,68,38,56],
        [21,70,41,59],[22,79,66,26],[23,63,31,52],[24,39,42,83],[25,49,40,75]]

df = pd.DataFrame(data, columns=['obs','age','severity','satisfaction'])
df['constant'] = 1
df

    obs  age  severity  satisfaction  constant
0     1   55        50            68         1
1     2   46        24            77         1
2     3   30        46            96         1
3     4   35        48            80         1
4     5   59        58            43         1
5     6   61        60            44         1
6     7   74        65            26         1
7     8   38        42            88         1
8     9   27        42            75         1
9    10   51        50            57         1
10   11   53        38            56         1
11   12   41        30            88         1
12   13   37        31            88         1
13   14   24        34           102         1
14   15   42        30            88         1
15   16   50        48            70         1
16   17   58        61            52         1
17   18   60        71            43         1
18   19   62        62            46         1
19   20   68        38            56         1
20   21   70        41            59         1
21   22   79        66            26         1
22   23   63        31            52         1
23   24   39        42            83         1
24   25   49        40            75         1

In [19]:
sel_cols = ['constant','age','severity']

X = df[sel_cols].values
y = df['satisfaction'].values

X.shape, y.shape

((25, 3), (25,))

In [20]:
xtx = np.matmul(X.transpose(), X)   # 3 x 3
xty = np.matmul(X.transpose(), y)   # 3 x 1
inv_xtx = np.linalg.inv(xtx)        # 3 x 3

hat_beta = np.matmul(inv_xtx, xty)
hat_beta

array([143.47201181,  -1.03105341,  -0.55603781])

**Now using *statsmodels***

In [21]:
import statsmodels.formula.api as smf

reg = smf.ols('satisfaction ~ age + severity', data=df)
# print(dir(reg))
res = reg.fit()
# print(dir(res))

print(res.params)

Intercept    143.472012
age           -1.031053
severity      -0.556038
dtype: float64

___

### 3.3 &nbsp;&nbsp; Statistical Inference in Linear Regression

For this part, we require that $\varepsilon_i \sim \mathrm{iid}N(0,\sigma^2)$. This implies that  $y_i \sim \mathrm{iid}N(\beta_0 + \sum_{j=1}^{k}\beta_j x_{ij}, \sigma^2)$

We define
- *Residuals*: $e = y - X\hat{\beta}$
- *Total sum of squares*: $\mathrm{SST} = y^{\mathrm{t}}y - n\bar{y}^2$
- *Sum of squares of the regression*: $\mathrm{SSR} = \hat{\beta}^{\mathrm{t}}X^{\mathrm{t}}y - n\bar{y}^2$
- *Sum of squares of the residuals*: $\mathrm{SSE} = y^{\mathrm{t}}y - \hat{\beta}^{\mathrm{t}}X^{\mathrm{t}}y$

Note that $$\mathrm{SST} = \mathrm{SSR} + \mathrm{SSE}.$$

#### 3.3.1 &nbsp;&nbsp; Test for Significance of Regression

\begin{align*}
    H_0~&:~ \beta_1 = \beta_2 = \ldots = \beta_k = 0 \\
    H_1~&:~ \beta_j \neq 0, \text{for some }j
\end{align*}

The test statistic is $$F_0 = \frac{\mathrm{SSR}~/~k}{\mathrm{SSE}~/~(n-p)},$$ and one rejects $H_0$ if the test statistic $F_0$ exceeds the upper tail point of the $F$ dsitribution with $(k,n-p)$ degrees of freedom.

|src of var|sum of squares|degrees of freedom|mean square|test statistic|
|----------|:------------:|:----------------:|-----------|--------------|
|regression|SSR           |k                 |SSR/k      |$F_0$ = (SSR/k) / SSE/(n-p)|
|residual (error)|SSE     |n-p               |SSE/(n-p)  |              |
|total     |SST           |n-1               |           |              |

The coefficient of multiple determination and its adjusted version are given by
\begin{align*}
    R^2 = \frac{SSR}{SST} = 1 - \frac{SSE}{SST}, \\
    R_{\mathrm{adj}}^2 = 1 - \frac{SSE~/~(n-p)}{SST~/~(n-1)}.
\end{align*}

**Example (continuation)**

In [22]:
n=25
k = 2
p = k+1

sst = np.matmul(y,y.transpose()) - n*y.mean()**2
ssr = np.matmul(hat_beta.transpose(), np.matmul(X.transpose(), y)) - n*y.mean()**2
sse = np.matmul(y.transpose(), y) - np.matmul(hat_beta.transpose(), np.matmul(X.transpose(), y))

sst == ssr + sse

np.True_

In [23]:
print('SST = {} \nSSR = {} \nSSE = {}'.format(sst,ssr,sse))
print('F = {}'.format((ssr/k)/(sse/(n-p))))
print('R^2 = {}'.format(ssr/sst))
print('R_adj^2 = {}'.format(1-(sse/(n-p))/(sst/(n-1))))

SST = 10778.240000000005
SSR = 9663.694050575825
SSE = 1114.5459494241804
F = 95.37573090750838
R^2 = 0.8965929549328852
R_adj^2 = 0.8871923144722383

**Now using *statsmodels***

In [24]:
print('SST = {} \nSSR = {} \nSSE = {}'.format(res.ess+res.ssr ,res.ess, res.ssr))
print('F = {}'.format(res.fvalue))
print('R^2 = {}'.format(res.rsquared))
print('R_adj^2 = {}'.format(res.rsquared_adj))

SST = 10778.24
SSR = 9663.69405057539
SSE = 1114.5459494246102
F = 95.37573090746731
R^2 = 0.8965929549328452
R_adj^2 = 0.8871923144721947

#### 3.3.2 &nbsp;&nbsp; Test on Individual Regression Coefficients

#### Test on Individual Regression Coefficients

\begin{align*}
    H_0~&:~ \beta_j = 0 \\
    H_1~&:~ \beta_j \neq 0
\end{align*}

The test statistic is $$t_0 = \frac{\hat{\beta}_j}{\sqrt{\hat{\sigma}^2 C_{jj}}},$$ where $\hat{\sigma}^2 = SSE~/~(n-p)$ and $C_{jj}$ is the diagonal element of the matrix $(X^{\mathrm{t}}X)^{-1}$ corresponding to the regression coefficient $\hat{\beta}_j$. The null hypothesis $H_0$ is rejected if $|t_0| > t_{\frac{\alpha}{2},n-p}$.

The denomitator $\sqrt{\hat{\sigma}^2 C_{jj}}$ is called **standard error of the regression coefficient**, and we will denote it by $se(\hat{\beta}_j)$.

**Example (continuation)**

In [25]:
hat_sigma_sq = sse/(n-p)
t_0 = [ hat_beta[i] / np.sqrt(hat_sigma_sq*np.diag(inv_xtx)[i]) for i in range(len(hat_beta)) ]

for i in range(len(hat_beta)):
    print('t0-statistic for beta_{} : {}'.format(str(i), t_0[i]))

t0-statistic for beta_0 : 24.093352877792313
t0-statistic for beta_1 : -8.918286395170723
t0-statistic for beta_2 : -4.231311719079824

In [26]:
for i in range(len(res.tvalues)):
    print('t0-statistic for beta_{} : {}'.format(str(i), res.tvalues[i]))

t0-statistic for beta_0 : 24.0933528777876
t0-statistic for beta_1 : -8.918286395168971
t0-statistic for beta_2 : -4.231311719078995

/var/folders/gw/6t_48cb11cq3wt9bjf_ns5p40000gn/T/ipykernel_94722/829614607.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('t0-statistic for beta_{} : {}'.format(str(i), res.tvalues[i]))

Repetir los cálculos para otra base de datos.

In [27]:
data = pd.read_csv('student_data.csv')
data['constant'] = 1
data

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index,constant
0,7,99,Yes,9,1,91.0,1
1,4,82,No,4,2,65.0,1
2,8,51,Yes,7,2,45.0,1
3,5,52,Yes,5,2,36.0,1
4,7,75,No,8,5,66.0,1
...,...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0,1
9996,7,64,Yes,8,5,58.0,1
9997,6,83,Yes,8,5,74.0,1
9998,9,97,Yes,7,0,95.0,1
9999,7,74,No,8,1,64.0,1

In [30]:
import statsmodels.formula.api as smf

sel_cols = ['constant', 'Hours Studied', 'Previous Scores', 'Sleep Hours']

X = data[sel_cols].values
y = data['Performance Index'].values

xtx = np.matmul(X.transpose(), X)   # 3 x 3
xty = np.matmul(X.transpose(), y)   # 3 x 1
inv_xtx = np.linalg.inv(xtx)        # 3 x 3

hat_beta = np.matmul(inv_xtx, xty)


reg = smf.ols('satisfaction ~ age + severity', data=df)
# print(dir(reg))
res = reg.fit()
# print(dir(res))

print(res.params)
n=25
k = 2
p = k+1

sst = np.matmul(y,y.transpose()) - n*y.mean()**2
ssr = np.matmul(hat_beta.transpose(), np.matmul(X.transpose(), y)) - n*y.mean()**2
sse = np.matmul(y.transpose(), y) - np.matmul(hat_beta.transpose(), np.matmul(X.transpose(), y))

sst == ssr + sse

print('SST = {} \nSSR = {} \nSSE = {}'.format(sst,ssr,sse))
print('F = {}'.format((ssr/k)/(sse/(n-p))))
print('R^2 = {}'.format(ssr/sst))
print('R_adj^2 = {}'.format(1-(sse/(n-p))/(sst/(n-1))))

print('SST = {} \nSSR = {} \nSSE = {}'.format(res.ess+res.ssr ,res.ess, res.ssr))
print('F = {}'.format(res.fvalue))
print('R^2 = {}'.format(res.rsquared))
print('R_adj^2 = {}'.format(res.rsquared_adj))

hat_sigma_sq = sse/(n-p)
t_0 = [ hat_beta[i] / np.sqrt(hat_sigma_sq*np.diag(inv_xtx)[i]) for i in range(len(hat_beta)) ]

for i in range(len(hat_beta)):
    print('t0-statistic for beta_{} : {}'.format(str(i), t_0[i]))
for i in range(len(res.tvalues)):
    print('t0-statistic for beta_{} : {}'.format(str(i), res.tvalues[i]))

Intercept    143.472012
age           -1.031053
severity      -0.556038
dtype: float64
SST = 34112395.536624
SSR = 34066812.641360186
SSE = 45582.895263813436
F = 8220.955182556167
R^2 = 0.9986637439397983
R_adj^2 = 0.9985422661161435
SST = 10778.24
SSR = 9663.69405057539
SSE = 1114.5459494246102
F = 95.37573090746731
R^2 = 0.8965929549328452
R_adj^2 = 0.8871923144721947
t0-statistic for beta_0 : -12.123096571806807
t0-statistic for beta_1 : 16.251115875704414
t0-statistic for beta_2 : 38.81356262752781
t0-statistic for beta_3 : 1.779344757204682
t0-statistic for beta_0 : 24.0933528777876
t0-statistic for beta_1 : -8.918286395168971
t0-statistic for beta_2 : -4.231311719078995

/var/folders/gw/6t_48cb11cq3wt9bjf_ns5p40000gn/T/ipykernel_94722/2705821688.py:47: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print('t0-statistic for beta_{} : {}'.format(str(i), res.tvalues[i]))